version: 2
updates:
- package-ecosystem: "pip"
  directory: "/"
  schedule:
    interval: "monthly"
  groups:
    pip:
      applies-to: version-updates
      dependency-type: development
  # use increase otherwise widen is chosen
  versioning-strategy: increase
- package-ecosystem: "npm"
  directory: "/"
  schedule:
    interval: "monthly"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: "monthly"
  commit-message:
    prefix: "ci(deps)"
