name: release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for checks to succeed
        uses: poseidon/wait-for-status-checks@v0.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          interval: 5
      - uses: actions/checkout@v6
      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Cache virtualenv
        id: cache-venv
        uses: actions/cache@v5
        with:
          path: .venv
          # same as used in the ci workflow for reuse across workflows
          key: ${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-venv-${{ hashFiles('pyproject.toml') }}
      - if: steps.cache-venv.outputs.cache-hit != 'true'
        run: make install
      - run: make dist
      - name: Publish to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: make publish
